<ion-card (click)="cardClicked()">
  <!-- <img src="{{image}}" /> -->
  <img [src]="card.image" />
  <ion-card-header>
    <ion-card-subtitle>{{ card.subtitle }}</ion-card-subtitle>
    <ion-card-title [style.color]="textColor">{{ card.title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content [innerHtml]="card.content"></ion-card-content>
</ion-card>