<ion-header>
  <ion-toolbar>
    <ion-title>home-details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="movie-container">
    <img [src]="card.image" alt="">
    
    <div class="movie-title">
      {{ card.title }}
    </div>
    <div class="movie-subtitle">
      {{ card.subtitle }}
    </div>
    <div class="movie-content" [innerHTML]="card.content"></div>
  </div>
</ion-content>
